.contact{
    background-image:url(./image.jpeg);
    align-items: flex-end;
    width:100%;
    
    display: flex;
    padding: 20px 20px 0;
    padding-bottom: 194px;
}
.contact form{
        display:flex;
        flex-direction:column;
        width:32%;
    }
.title{
        margin-top:40px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 40px;
        line-height: 200%;
        color: #bdae82;
        margin-bottom: 38px;
    }
.contact input{
        padding:4px 0 5px 20px;
        width:100%;
        border: 2px solid #BDAE82;
        margin-bottom:20px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #bdae82;
    }
   
.contact button{
        background: #BDAE82;
        width:50%;
        color:#000;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        text-align: center;
        color: #000;
        padding: 7px 0;
    }
   

    @media(max-width:768px){
        .contact{
            align-items: center;
        }
        .contact form{
            width: 61%;
            align-items: center;
        }
        .title{
                font-size: 32px;
                line-height: 200%;
                text-align: center;
        }
    }